name: CMake

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [macos-14, windows-latest]
        build_type: [Release]

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4

      - name: List Xcode installations
        if: matrix.os == 'macos-14'
        run: ls -1 /Applications | grep "Xcode" || true

      - name: Select Xcode 16.2
        if: matrix.os == 'macos-14'
        run: sudo xcode-select -s /Applications/Xcode_16.2.0.app/Contents/Developer

      - name: Configure
        run: cmake -S . -B build -DCMAKE_BUILD_TYPE=${{ matrix.build_type }}

      - name: Build
        run: cmake --build build --config ${{ matrix.build_type }}